<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=createMap&libraries=places&key=AIzaSyAsuSWu46_T8VoB_LjWOpS9_vHgT7ymIfo" async defer></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/enable-search.js"></script>
    <script type="text/javascript" src="/scripts/load-map.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav>
      <span>MapBook</span>
      <div>
      <button type="submit" style="background-color:blue;color: white;border: 2px solid white;border-radius: 6px;">
        Create </button>
      <button type='submit' style="background-color:blue;color: white;border: 2px solid white;border-radius: 6px;">
        Drop Down
      </button>
    </div>
    </nav>

    <!-- Section Container for feed, and map-->

    <main>
      <section class='feed'>
        <h1>Ugly Feed</h1>
      </section>

    <section class='map_container'>
    <input class="form-control" id="search" type="text" placeholder="Search" />
    <div id="map"></div>
    </section>

    </main>

  </body>
</html>
