<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MapBook</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/errors.css" type="text/css" />
    <link rel="stylesheet" href="/styles/enter-map-info.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new-map.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link rel="stylesheet" href="/styles/feed.css" type="text/css" />
    <link rel="stylesheet" href="/styles/markers.css" type="text/css" />
    <link rel="stylesheet" media="screen and (max-width:750px)" href="/styles/phonelayout.css" type="text/css" />


    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/bf5bfaeaa4.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?&libraries=places&key=AIzaSyAsuSWu46_T8VoB_LjWOpS9_vHgT7ymIfo" async defer></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/enable-search.js"></script>
    <script type="text/javascript" src="/scripts/maps-feed-helpers.js"></script>
    <script type="text/javascript" src="/scripts/create-new-map-helpers.js"></script>
    <script type="text/javascript" src="/scripts/enable-marker-adding.js"></script>
    <script type="text/javascript" src="/scripts/enable-map-show-helpers.js"></script>
    <script type="text/javascript" src="/scripts/load-map.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav>
      <span><a href="" class="home">MapBook</a></span>
      <ul class="nav-buttons">
        <li><a href="" id="create">Create</a></li>
        <li><a href="" id="profile">Profile</a></li>
      </ul>
    </nav>

    <!-- Main Container for feed, and map-->
    <main>
      <section id='maps-feed'>
        <h2>Maps</h2>
        <div id="maps-container"></div>
      </section>

      <div id="map"></div>

      <ul id="dropdown">
        <li><a href="" class="home">Home</a></li>
        <li><a href="">My Maps</a></li>
        <li><a href="">Favorites</a></li>
      </ul>

      <section id='register'>
        <h2>Register</h2>
        <form id="register-form">
          <input type="text" name="email" placeholder="Email"></input>
          <button type="submit" id="register-button">Submit</button>
        </form>
        <a href="">Cancel</a>
      </section>

      <section id="enter-map-info">
        <h2>Get Started</h2>
        <form id="map-form">
          <input type="text" name="name" placeholder="Map Name"></input>
          <input type="text" name="city" placeholder="City"></input>
          <button type="submit" id="submit-map-name-button">Submit</button>
        </form>
        <a href="">Cancel</a>
      </section>

      <section id='error-message' class='error-message'>
        <i class="fas fa-exclamation-circle"></i>
        <p></p> <!-- dynamically fills with error message when called -->
      </section>

      <section id="new-map">
        <h2></h2> <!-- h2 and h4 tags populate with user entered map name and city -->
        <h4></h4>
        <input class="form-control" id="search" type="text" placeholder="Search for locations" />
        <div id="marker-container"></div>
        <button id="submit-map-button">Submit</button>
        <a href="" id="cancel-create">Cancel</a>
      </section>
    </main>
  </body>
</html>
