<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MapBook - Home</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/new-map.css" type="text/css" />
    <link rel="stylesheet" href="/styles/enter-map-name.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/bf5bfaeaa4.js" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=loadMap&libraries=places&key=AIzaSyAsuSWu46_T8VoB_LjWOpS9_vHgT7ymIfo" async defer></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/error-helpers.js"></script>
    <script type="text/javascript" src="/scripts/enable-search.js"></script>
    <script type="text/javascript" src="/scripts/load-map.js"></script>
    <script type="text/javascript" src="/scripts/maps-feed-helpers.js"></script>
    <script type="text/javascript" src="/scripts/get-favorites.js"></script>
    <script type="text/javascript" src="/scripts/registered-users.js"></script>
    <script type="text/javascript" src="/scripts/create-new-map-helpers.js"></script>
    <script type="text/javascript" src="/scripts/enable-marker-adding.js"></script>
    <script type="text/javascript" src="/scripts/display-markers.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav>
      <span>MapBook</span>
      <ul class="nav-buttons">
        <li><button id="create">Create</button></li>
      </ul>
    </nav>

    <!-- Main Container for feed, and map-->

    <main>
      <section id='maps-feed'>
        <h1>Ugly Feed</h1>
        <div id="maps-container"></div>
      </section>

    <div id="map"></div>

    <section id="enter-map-name">
      <form id="new-map-name">
        <textarea name="text" placeholder="Enter Map Name"></textarea>
        <button type="submit" id="submit-map-name-button">Submit</button>
      </form>
    </section>
    <section id="new-map">
      <h2></h2>
      <input class="form-control" id="search" type="text" placeholder="Search" />
      <div id="marker-container"></div>
      <button id="submit-map-button">Submit</button>
    </section>
    </main>
  </body>
</html>
