@import 'variables';

.error-message {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: $error-red;
  font-size: 12px;
  color: white;

  i {
    margin: 10px;
    font-size: 20px;
  }

  p {
    margin: 0px;
  }
}

.map-name-error {
  top: 269px;
  right: 20px;
  width: 200px;
}

.register-error {
  top: 235px;
  right: 20px;
  width: 200px;
}

.new-map-error {
  top: 470px;
  right: 20px;
  width: 400px;
}