@import 'variables';

#maps-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 92vh;
  border-right: solid 1px #BEBEBE;
  background-color: $background-white;
  color: #003366;
  font-family: $button-font;

  #maps-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    border-top: solid 1px #BEBEBE;
    font-family: sans-serif;
    overflow-y: auto;
  }

  .map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    border-bottom: solid 1px #BEBEBE;
    color: #003366;
    // transition: 0.5s;
  }

  .map:hover {
    background-color: #F7F7F7;
    // background-color: #88a3fa;
    // color: white;
  }

  .map .title-container {
   display: flex;
   flex-direction: column;
   margin: 10px 0px 10px 0px;
  }

  .map .title-container h3 {
    margin: 0px;
   }

   .map .title-container h5 {
    margin: 0.5em 0px 0px 0px;
   }

  .favorite-map {
    color: #606060;
    margin-top: 2px;
    // height: 40px;
    // width: 40px;
    // // background-color: #ffebff;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
  }

  // .favorite-map:active {
  //   transform: translateY(4px);
  // }

  .favorite-map i:hover {
    color: red;
  }

  .selected {
    border-right: solid 5px $purple;
  }
}


