// See: https://sass-lang.com/

body {
  display: flex;
  background-color: #EEE;
  flex-direction: column;
}

.navbar {
  list-style: none;
  background-color: cornflowerblue;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

section.feed {
  width: 20%;
  height: 740px;
  border: solid 2px black;

}

section.map_container {
  width: 80%;
  height: 700px;
}

h1 {
  color: #244751;
}

#map {
  height: 700px;
  width: 80%;
  position: relative;
}

#search {
  width: 100%;
}




