#new-map {
  position: absolute;
  top: 120px;
  right: 20px;
  background-color: white;
  width: 400px;
  height: 400px;
}

.marker {
  display: flex;
}

.marker img {
  width: 20px;
  height: 20px;
}