@import 'variables';

#new-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: $background-white;
  width: 400px;
  height: 400px;
  border: 2px solid $purple;
}

#new-map h2 {
  margin: 20px 0px 0px 0px;
  font-family: $button-font;
}

#new-map h4 {
  margin: 10px 0px 20px 0px;
}

#search {
  width: 95%;
  height: 30px;
}

#marker-container {
  width: 95%;
  height: 200px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid #DCDCDC;
  overflow-y: auto;
}

.new-map-marker {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DCDCDC;
}

.new-map-marker div {
  display: flex;
  align-items: center;
}

.new-map-marker div img {
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 10px;
}

.new-map-marker div p {
  margin: 2px 0px 0px 0px;
}

.new-map-marker a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0px;
  height: 0px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.new-map-marker a:hover {
  color: red;
}

#new-map button {
  width: 60%;
  margin-top: 10px;
}

#new-map a {
  font-size: 12px;
  padding: 5px 0px 5px 0px;
}

#error-maps {
  position: absolute;
  top: 255px;
  right: 20px;
  width: 200px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(228, 35, 67, 0.788);
  font-size: $error-font;
  color: white;

  i {
    margin-top: 0.5em;
    font-size: 20px;
  }

  div {
    margin-top: 0.5em;
    width: 70%;
    height: 100%;
  }
}
