@import 'variables';

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

section.map_container {
  width: 100%;
  height: 30vh;
}


#map {
  height: 92vh;
  width: 100%;
}

#maps-feed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 20%;
  border-right: solid 1px #BEBEBE;
  background-color: $background-white;
  color: #003366;
  font-family: $button-font;
}

.map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 1em;
  padding-left: 1em;
  border-bottom: solid 1px #BEBEBE;
  font-size: 0.7em;
  // transition: 0.5s;
}
